# Secrets
python-dotenv

# Jupyter
ipykernel

# ETL
requests           # Extract (HTTP)
polars[excel]      # Transform (Parquet + Excel)
duckdb             # Transform
psycopg[binary]    # Load

# Statistical Modeling & ML
scipy
scikit-learn

# Data Visualization
matplotlib
seaborn
plotly
streamlit
