# Jupyter
ipykernel

# ETL
requests        # Extract (HTTP)
duckdb          # Transform
psycopg[binary] # Load

# Statistical Modeling & ML
scipy
scikit-learn

# Data Visualization
matplotlib
seaborn
plotly
streamlit
